$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

/* font awesome */
$fa-font-path:"../fonts/fontawesome/"; // for referencing Bootstrap CDN font files directly
@import "../../bower_components/fontawesome/scss/font-awesome";

/* font awesome */
@mixin t-fa {	
	&:before { @include fa-icon(); }
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; 
	text-indent: -999em; 
	display: block; 
	overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; 
		text-align: center; 
		z-index: 2; 
		text-indent:0; 
		@include transform( translateY(-50%) );
	}
}

/* when classes are simpler */
.t-fa { @include t-fa(); }
.t-fa-abs { @include t-fa-abs(); }