/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	.big-fader {
		height: 100vh;
		min-height: 400px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
		@include display( flex );
	}
	
	.fader-item-bg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: #000;
		background-position: center;
		background-size: cover;
	}
	
}

.hero-content { 
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
	text-align:center;
	color: #fff;
	position: relative;
	z-index: 2;
	width:100%;
	
	.title,
	.subtitle {
		width: 500px;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	.title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 36px;
	}
	
	.subtitle {
		font-weight: 200;
		font-size: 18px;
	}
	
}

@media screen and (max-width: 600px) {

	.hero-content {
	
		width: 95%; 
		margin: 0 auto;
		
		.title { font-size: 24px; }
		.subtitle { display: none; }
	}

}