/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$redColor: #ca3738;
$greyColor: #333;
$darkGreyColor: #1d1d1d;

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg' #{$gridCollapseLarge},
	'md' #{$gridCollapseMedium},
	'sm' #{$gridCollapseSmall},
	'xs' #{$gridCollapseExtraSmall}
);

/* fonts */
$serifFontStack: georgia,garamond,serif;
$sansSerifFontStack: helvetica,arial,sans-serif;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Open Sans,$serifFontStack;

/* body */
$pageBackgroundColor: #f2f2f2;
$darkBackgroundColor: $redColor;
$darkBackgroundContentColor: #fff;
$sectionSeparatorColor: $greyColor;
$darkSectionSeparatorColor: #fff;
$separatorColor: #d7d7d7;

$bodyContentColor: #231f20;
$bodyBackgroundColor: $darkGreyColor;

$wrapperWidth: 1600px;
$collapseNavAt: 850px;
$pageWrapperWidth: 1920px;

/* footer */
$footerBackgroundColor: $greyColor;
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: #fff;

$copyrightBackgroundColor: transparent;
$copyrightContentColor: #fff;
$copyrightLinkColor: #aeaeae;
$copyrightHoverColor: #fff;
$copyrightSeparatorColor: #aeaeae;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $redColor;

$h1Size: 36px;
$h2Size: 32px;
$h3Size: 26px;
$h4Size: 22px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	color: $redColor;
	font-weight:300;
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
@mixin button() {
	border-radius:0;
	color: #fff;
	background-color: $greyColor;
	border: 2px solid $greyColor;
	@include transition( 0.3s all $ease-in-out-sine );
	
	&.outline {
		background: transparent;
		color: $greyColor;
	}
	
	&.red {
		border-color: $redColor;
		background-color: $redColor;
	}
	
}

@mixin buttonHover() {
	color: #fff;
	border-color: darken($redColor,10);
	background-color: darken($redColor,10);
	
	&.outline {
		border-color: $greyColor;
		background-color: $greyColor;
	}
	
	&.red {
		border-color: $greyColor;
		background-color: $greyColor;
	}
}

/* article styles */
$sidebarWidth: 380px;
$sidebarCollapseWidth: 800px;

@mixin link-theme() {
	color: lighten($redColor,10);
	font-weight:600;
	display: inline-block;
	word-break: keep-all;
	position: relative;
	padding: 0 2px;
	
	&,
	&:after {
		@include transition( 0.15s all $ease-in-out-sine );
	}
	
	&:after {
		content:"";
		position: absolute;
		top: -2px; left: -2px; right: -2px; bottom: -2px;
		border: 2px solid $redColor;
		background-color: $redColor;
		
		@include transform-origin( center );
		@include transform( scale(0,0) );
		z-index: -1;
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	&:after { @include transform( none ); }
}

@mixin link-visited-theme() {
	font-style: italic;
	text-decoration: underline;
	color: $redColor;
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	&:after { 
		@include transform( none ); 
		background-color: $redColor;
		border-color: $redColor;
	}
}

/* excerpts */
$excerptColor: $redColor;

/* lists */
$listNumberColor: $redColor;

/* breadcrumbs */
$breadCrumbColor: #fff;
$breadCrumbColorActive: $darkGreyColor;
$breadCrumbColorHover: lighten($redColor,20);

/* forms */
$fieldBackgroundColor: #fff;
$fieldTextColor: #{$bodyContentColor};
$fieldPlaceHolderColor: #aaa;
$fieldBorderColor: #ccc;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: #fff;
$accHandleColorActive: #fff;

$accHandleBGColor: $greyColor;
$accHandleBGColorActive: $darkGreyColor;

$accContentBorderWidth: 1px;
$accContentBorderColor: #ddd;
$accContentBGColor: #fff;

$accContentLinkColor: $bodyContentColor;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $redColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $redColor;
$selectorBackgroundColorActive: darken($redColor,10);

/* filter section */
$filterBarBackgroundColor: $redColor;
$filterBarContentColor: $greyColor;

$filterControlBackgroundColor: $greyColor;
$filterControlBackgroundColorActive: lighten($redColor,10);
$filterControlColor: #fff;
$filterControlColorActive: #fff;